<form method="post" action="{{ path('app_coaching_prive_delete', {'id': coaching_prive.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coaching_prive.id) }}">
    <button class="btn">Delete</button>
</form>
